<div class="TradeEntryScreen aralis-screen" data-preferred-height="200px" data-preferred-width="400px">
    <div class="panel panel-primary card-setting">
        <div class="panel-heading">
            <h3 class="panel-title">Trade Entry</h3>
        </div>
        <div class="panel-body">
            <div class="setting-grid">
                <label data-content="Portfolio Name"></label>
                <input class="portfolioName">
                <label data-content="Account"></label>
                <input class="account">
                <label data-content="Symbol"></label>
                <input class="symbol">
                <label data-content="Side"></label>
                <select class="side"></select>
                <label data-content="Trade Ccy"></label>
                <input class="tradeCcy">
                <label data-content="Trade Qty"></label>
                <input class="tradeQty">
                <label data-content="Trade Price"></label>
                <input class="tradePrice">
            </div>
        </div>
        <div class="panel-footer">
            <button class="create btn btn-sm btn-primary" data-content="Create" />
            <button class="clear btn btn-sm btn-primary" data-content="Clear" />
        </div>
    </div>
</div>
