<div class="UserSettingScreen aralis-screen">
    <div class="panel panel-primary card-setting">
        <div class="panel-heading">
            <h3 class="panel-title">Setting</h3>
        </div>
        <div class="panel-body">
            <div class="setting-grid">
                <label data-content="App Mode"></label>
                <select class="appMode"></select>
            </div>
        </div>
        <div class="panel-footer">
            <button class="applyChange btn btn-sm btn-primary" data-content="Apply Change" />
        </div>
    </div>

    <div class="panel panel-primary card-password">
        <div class="panel-heading">
            <h3 class="panel-title">Password</h3>
        </div>
        <div class="panel-body">
            <div class="password-grid">
                <label data-content="Current Password"></label>
                <input class="oldPassword"></input>
                <label data-content="New Password"></label>
                <input class="newPassword"></input>
                <label data-content="Repeat New Password"></label>
                <input class="newPasswordConfirm"></input>
            </div>
        </div>
        <div class="panel-footer">
            <button class="changePassword btn btn-sm btn-primary" data-content="Change Password" />
        </div>
    </div>

    <div class="panel panel-primary card-restapikey">
        <div class="panel-heading">
            <h3 class="panel-title">Rest API Key</h3>
        </div>
        <div class="panel-body">
            <div class="setting-grid">
                <label data-content="Key"></label>
                <label class="restApiKey"></label>
            </div>
        </div>
        <div class="panel-footer">
            <button class="generateApiKey btn btn-sm btn-primary" data-content="Generate New Key" />
        </div>
    </div>

</div>
