@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-LightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Black.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-BlackItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

body {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    background-color: #1b1c1d;
    /*this is only effective for macOS*/
    -webkit-font-smoothing: auto;
    font-family: 'Roboto', 'Arial', sans-serif;
}

body * {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.dg-grid {
    font-size: 11px;
}

.dg-grid .slick-header {
    font-size: 13px;
}

.dg-grid .slick-row {
    line-height: 17px;
}

.slick-header .slick-header-column {
    text-align: center;
}

/* cell animation */

@keyframes downtick {
    from {
        background-color: #ff0000;
    }
}

@keyframes uptick {
    from {
        background-color: #00ff00;
    }
}

.flashdowntick {
    animation: downtick 0.5s steps(10);
}

.flashuptick {
    animation: uptick 0.5s steps(10);
}

.tick {
    border-radius: 2px;
    padding-right: 3px;
}

.invisible-icon {
    visibility: hidden;
}

/* row background color */
.dg-row.row-bg-red {
    background: rgb(249, 229, 228);
}

.dg-row.odd.row-bg-red {
    background: rgb(239, 219, 218);
}

.dg-row.dg-selected.row-bg-red {
    background: rgb(217, 206, 218);
}

.dg-row.row-bg-yellow{
    background: rgb(253, 240, 219);
}

.dg-row.odd.row-bg-yellow{
    background: rgb(243, 230, 209);
}

.dg-row.dg-selected.row-bg-yellow {
    background: rgb(221, 217, 209);
}

.dg-row.row-bg-blue {
    background: rgb(224, 239, 249);
}

.dg-row.odd.row-bg-blue {
    background: rgb(214, 229, 239);
}

.dg-row.dg-selected.row-bg-blue {
    background: rgb(192, 216, 239);
}

.dg-row.row-bg-green {
    background: rgb(222, 234, 239);
}

.dg-row.odd.row-bg-green {
    background: rgb(212, 224, 229);
}

.dg-row.dg-selected.row-bg-green {
    background: rgb(190, 221, 229);
}

.dg-row.row-bg-purple {
    background: rgb(228,208,244);
}

.dg-row.odd.row-bg-purple {
    background: rgb(218, 198, 234);
}

.dg-row.dg-selected.row-bg-purple {
    background: rgb(198, 195, 234);
}

.dg-row.row-bg-pink {
    background: rgb(237,199,232);
}

.dg-row.odd.row-bg-pink {
    background: rgb(227, 189, 222);
}

.dg-row.dg-selected.row-bg-pink {
    background: rgb(207, 185, 222);
}

.dg-row.row-bg-grey {
    background: rgb(222,219,224);
}

.dg-row.odd.row-bg-grey {
    background: rgb(212,209,214);
}

.dg-row.dg-selected.row-bg-grey {
    background: rgb(192, 204, 214);
}

.bg-red {
    background: rgb(249, 229, 228);
    height: 100%;
}

.bg-yellow {
    background: rgb(253, 240, 219);
    height: 100%;
}

.bg-blue {
    background: rgb(224, 239, 249);
    height: 100%;
}

.bg-green {
    background: rgb(222, 234, 239);
    height: 100%;
}

.bg-buy {
    background: rgb(13, 132, 224);
    color: rgb(249, 249, 249);
    text-align: center;
    height: 100%;
}

.bg-sell {
    background: rgb(247, 86, 86);
    color: rgb(249, 249, 249);
    text-align: center;
    height: 100%;
}

.bg-buysell {
    background: rgb(199, 44, 234);
    color: rgb(249, 249, 249);
    text-align: center;
    height: 100%;
}

.slick-cell.BOOLEAN-cell {
    text-align: center;
}

.slick-cell span.flag,
.lick-footerrow-column span.flag {
    display: block;
}

.slick-cell .flag img {
    vertical-align: unset;
}

/**
* Alert popup layout (TODO: maybe we should move this out of the core css)
* this is only useful if alert element div is defined in html
*/

.alert-popup {
    position: fixed;
    bottom: 15px;
    right: 10px;
}

.alert-popup .aralis-tabpane {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    border: 0;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.alert-popup input {
    border: none;
    background: transparent;
    margin: 5px;
    color: black;
}

.alert-popup button {
    align-self: center;
    margin: 5px;
}

.alert-popup .alert-warn {
    background: rgba(255, 231, 185, 1);
}

.alert-popup .alert-warn i {
    color: rgba(240, 171, 0, 1);
}

.alert-popup .alert-info {
    background: rgba(215, 234, 196, 1);
}

.alert-popup .alert-info i {
    color: rgba(122, 184, 0, 1);
}

.alert-popup .alert-error {
    background: rgba(249, 203, 204, 1);
}

.alert-popup .alert-error i {
    color: rgba(255, 27, 34, 1);
}

.alert-popup .aralis-activetab {
    animation-duration: 0.5s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10px;
        opacity: 1;
    }
}
