@media print {

    * {
        box-sizing: content-box;
    }

    .menu {
        display: none;
    }

    .aralis-page, .either-or, .screen-container {
        display: unset;
        overflow: auto;
        position: static;
    }

    body {
        background: transparent;
        margin: 0;
        padding: 0;
    }

    .aralis-report-screen {
        background: transparent;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        max-width: 21cm;
    }

    @page {
        size: A4 portrait;
        margin-top: 10mm;
        margin-left: 5mm;
        margin-right: 5mm;
        margin-bottom: 10mm;
    }

    @page {
        @bottom-right {
            content: "page " counter(page) "/" counter(pages);
        }

        @bottom-center {
            content: "Velox © 2018 All Rights Reserved. Terms and conditions"
        }
    }

    .ReportScreen .middle {
        page-break-inside: avoid;
    }

}

