:root {
    --default-padding: 8px;
    --default-margin: 8px;

    /* ********************************* dark theme  ****************************************** */

    --main-bg-color-dark: rgb(24, 28, 34);

    --secondary-bg-color-dark: rgb(33, 40, 50);
    --secondary-bg-color-fade-dark: rgba(33, 40, 50, .50);
    --tertiary-bg-color-dark: rgb(54, 60, 69);
    --alternate-bg-color-dark: rgb(64, 70, 80);
    --filled-bg-color-dark: rgba(255, 255, 255, .03);

    --main-text-color-dark: #fff;
    --main-text-color-fade-dark: rgba(255, 255, 255, .87);
    --secondary-text-color-dark: #90A4AE;
    --tertiary-text-color-dark: #78909C;
    --alternate-text-color-dark: #607D8B;
    --faded-text-color-dark: rgba(255, 255, 255, .10);
    --thumb-dark: rgb(73, 81, 93);


    /* ********************************* light theme  ****************************************** */
    --main-bg-color-light: rgb(252, 252, 252);

    --secondary-bg-color-light: rgb(230, 232, 234);
    --secondary-bg-color-fade-light: rgba(230, 232, 234, .50);
    --tertiary-bg-color-light: rgb(255, 255, 255);
    --alternate-bg-color-light: rgb(220, 222, 225);
    --filled-bg-color-light: rgba(0, 0, 0, .03);


    --main-text-color-light: rgb(24, 24, 24);
    --main-text-color-fade-light: rgba(25, 35, 55, .75);
    --secondary-text-color-light: rgb(90, 90, 90);
    --tertiary-text-color-light: rgb(150, 150, 150);
    --alternate-text-color-light: rgb(150, 115, 135);
    --faded-text-color-light: rgba(0, 0, 0, .10);


    /* ********************************* global theme  ****************************************** */
    --button-success-color: #00BFA5;
    --button-success-hover-color: #1DE9B6;


    --color-red: rgb(244, 68, 68); /*#E04444*/
    --color-red-fade: rgba(244, 68, 68, .6);
    --color-green: rgb(0, 191, 165); /* #00BFA5 */
    --color-green-fade: rgba(0, 191, 165, .6);
    --color-lightBlue: rgb(3, 169, 244); /* #03a9f4; */
    --color-lightBlue-fade: rgba(3, 169, 244, .6);
    --color-amber: rgb(255, 152, 0); /*#FF9800*/
    --color-amber-fade: rgba(255, 152, 0, .6);
}

/* ********************************* globals  ****************************************** */

html,
body {
    height: 100%;
    box-sizing: border-box;
}


body {
    background-color: var(--main-bg-color-dark);
}

body.theme-light {
    background-color: var(--main-bg-color-light);
}

body.theme-dark {
    background-color: var(--main-bg-color-dark);
}

hr {
    border-top: 1px solid;
    width: 100%;
    margin: 8px 0;
}

.theme-light hr {
    border-color: var(--secondary-text-color-light);
}

.theme-dark hr {
    border-color: var(--secondary-text-color-dark);
}

.fa-filter:hover {
    color: pink !important;
}

/** we need the modal to be draggable, so dont fix the top/bottom/left/right*/
.aralis-modal .body {
    position: absolute;
}

label,
.theme-light .aralis-screen select {
    color: var(--main-text-color-light);
}

label,
.theme-dark .aralis-screen select {
    color: var(--main-text-color-dark);
    font-weight: 500;
}

.theme-light input{
    background-color: var(--color-green);
    border-radius: 4px;
}

.theme-dark input{
    background-color: var(--color-green);
    border-radius: 4px;
}

.theme-light input[type=text] {
    border: 1px solid var(--faded-text-color-light);
    margin-right: 16px;
}

.theme-dark input[type=text] {
    border: 1px solid var(--faded-text-color-dark);
    margin-right: 16px;
}

.theme-light .aralis-screen select,
.theme-dark .aralis-screen select {
    box-shadow: none;
    border: none;
    text-align: right;
    background-color: transparent;
}

.theme-light option {
    background-color: var(--main-bg-color-light);
    color: var(--secondary-text-color-light);
}

.theme-dark option {
    background-color: var(--main-bg-color-dark);
    color: var(--secondary-text-color-dark);
}

.theme-light label {
    color: var(--main-text-color-light);
    border-radius: 0;
    border: 0;
}

.theme-dark label {
    color: var(--main-text-color-dark);
    border-radius: 0;
    border: 0;
}

.theme-light input,
.theme-light .aralis-screen input {
    color: var(--main-text-color-light);
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid var(--faded-text-color-light);
}

.theme-dark input,
.theme-dark .aralis-screen input {
    color: var(--main-text-color-dark);
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid var(--faded-text-color-light);
}

.theme-dark input.grid-editor {
    margin: 0;
    padding: 0 5px;
    background-color: #262c2e;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 0 2px black;
}

.theme-light .btn-group .btn-primary {
    color: var(--main-text-color-light);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid !important;
    border-bottom-color: var(--color-red) !important;
}

.theme-light .btn-group .btn-default {
    color: var(--secondary-text-color-light);
    background-color: transparent;
    border: none;
}

.theme-light .btn-group .btn-primary:hover,
.theme-light .btn-group .btn-default:hover {
    background-color: var(--tertiary-bg-color-light);
}

.theme-light .btn-group .btn-default {
    color: var(--secondary-text-color-light);
    background-color: transparent;
    border: none;
}

.theme-dark .btn-group .btn-primary {
    color: var(--main-text-color-dark);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid !important;
    border-bottom-color: var(--color-red) !important;
}

.theme-dark .btn-group .btn-default {
    color: var(--secondary-text-color-dark);
    background-color: transparent;
    border: none;
}

.theme-dark .btn-group .btn-primary:hover,
.theme-dark .btn-group .btn-default:hover {
    background-color: var(--tertiary-bg-color-dark);
}

.theme-dark .btn-group .btn-default {
    color: var(--secondary-text-color-dark);
    background-color: transparent;
    border: none;
}

.btn-primary,
.btn-success {
    background-color: var(--button-success-color);
    color: white;
    border: none;
}

.btn-primary:hover,
.btn-success:hover {
    background-color: var(--button-success-hover-color);
    border: none;
    color: white !important;
}

.btn-primary:active,
.btn-success:active {
    background-color: #00796B !important;
    border-color: var(--button-success-color);
    outline: 0 !important;
    color: white !important;
}

.btn-primary:focus,
.btn-success:focus {
    background-color: #00796B !important;
    border-color: var(--button-success-color);
    color: white !important;
    outline: 0 !important;
}

.btn-danger {
    background-color: var(--color-red);
    color: #fff;
}

.btn-danger:focus,
.btn-danger:active {
    outline: 0 !important;
}

.fa-user-circle {
    margin-right: 8px;
    font-size: 16px
}

.theme-light .aralis-screen,
.theme-light .aralis-report-screen,
.theme-light .aralis-sub-screen {
    background-color: var(--main-bg-color-light);
    border: 1px solid var(--faded-text-color-light)
}

.theme-dark .aralis-screen,
.theme-light .aralis-report-screen,
.theme-light .aralis-sub-screen {
    background-color: var(--main-bg-color-dark);
    border: 1px solid var(--faded-text-color-dark)
}

.theme-light .screen-layer,
.screen-container {
    background-color: var(--main-bg-color-light)
}

.theme-dark .screen-layer,
.screen-container {
    background-color: var(--main-bg-color-dark)
}

.theme-light .aralis-sub-screen,
.theme-dark .aralis-sub-screen {
    background-color: transparent
}

.theme-light ::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: transparent !important
}

.theme-dark ::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: transparent !important
}

.theme-light .context-menu-list .context-menu-item {
    background-color: var(--secondary-bg-color-light);
}

.theme-dark .context-menu-list .context-menu-item {
    background-color: var(--secondary-bg-color-dark);
}

.context-menu-list .context-menu-item label {
    font-weight: 500
}

.theme-light .context-menu-list .context-menu-item:hover {
    background-color: var(--secondary-bg-color-fade-light)
}

.theme-dark .context-menu-list .context-menu-item:hover {
    background-color: var(--secondary-bg-color-fade-dark)
}

.theme-light .context-menu-item {
    color: var(--secondary-text-color-light)
}

.theme-light .context-menu-item:hover {
    color: var(--main-text-color-light)
}

.theme-dark .context-menu-item {
    color: var(--secondary-text-color-dark)
}

.theme-dark .context-menu-item:hover {
    color: var(--main-text-color-dark)
}

.theme-light .context-menu-separator {
    border-bottom-color: var(--tertiary-text-color-light) !important;
}

.theme-dark .context-menu-separator {
    border-bottom-color: var(--tertiary-text-color-dark) !important;
}

input:checked + .slider {
    background-color: var(--color-green);
    box-shadow: none;

}

.theme-light .slider {
    background-color: var(--secondary-bg-color-light);
    box-shadow: none;
    border: 1px solid var(--faded-text-color-light);
}

.theme-dark .slider {
    background-color: var(--secondary-bg-color-dark);
    box-shadow: none;
    border: 1px solid var(--faded-text-color-dark);
}

/* ********************************* config modal  ****************************************** */

.theme-light .SortConfigEditorScreen.aralis-screen,
.theme-light .GridGeneralConfigEditorScreen.aralis-screen,
.theme-light .ColumnConfigEditorScreen.aralis-screen,
.theme-light .GridGeneralConfigEditorScreen.aralis-screen,
.theme-light .PivotConfigEditorScreen.aralis-screen,
.theme-light .ChartingConfigEditorScreen.aralis-screen,
.theme-light .FilterConfigEditorScreen.aralis-screen,
.theme-light .ConditionalFormatEditorScreen.aralis-screen,
.theme-light .ContextMenuConfigEditorScreen.aralis-screen,
.theme-light .ToolbarConfigEditorScreen.aralis-screen {
    border: none !important
}


.theme-light .aralis-tabgroup .aralis-tabnav .nav-button.active {
    color: var(--main-text-color-light);
    background-color: var(--secondary-bg-color-light);
    border-bottom: 2px solid;
    border-bottom-color: var(--color-red);
    text-shadow: none;

}


.theme-dark .aralis-tabgroup .aralis-tabnav .nav-button.active {
    color: var(--main-text-color-dark);
    background-color: var(--secondary-bg-color-dark);
    border-bottom: 2px solid;
    border-bottom-color: var(--color-red);
    text-shadow: none;

}


.aralis-tabnav .nav-button:not(:first-child) {
    margin-left: 0;
}


.theme-light .aralis-tabgroup .aralis-tabnav .nav-button {
    color: var(--secondary-text-color-light);
    background-color: var(--secondary-bg-color-light);
    border: none;
    border-radius: 0;
    padding: 4px 8px;
}

.theme-dark .aralis-tabgroup .aralis-tabnav .nav-button {
    color: var(--secondary-text-color-dark);
    background-color: var(--secondary-bg-color-dark);
    border: none;
    padding: 2px 8px;
}

.theme-light .aralis-tabgroup .aralis-tabpane {
    background-color: var(--main-bg-color-light);
    border-color: var(--faded-text-color-light);
}


.theme-dark .aralis-tabgroup .aralis-tabpane {
    background-color: var(--main-bg-color-dark);
    border-color: var(--faded-text-color-dark);
}

.theme-light .GridConfigEditorScreen .aralis-tabpane .aralis-screen {
    background-color: var(--main-bg-color-light);
}

.theme-dark .GridConfigEditorScreen .aralis-tabpane .aralis-screen {
    background-color: var(--main-bg-color-dark);
}


.badge {
    padding: 8px 0;
    font-weight: 500;
}

.theme-light .badge {
    background-color: var(--secondary-bg-color-light);
    color: var(--main-text-color-light);
}

.theme-dark .badge {
    background-color: var(--secondary-bg-color-dark);
    color: var(--main-text-color-dark);
}


.GridConfigEditorScreen .pane-left {
    padding: 8px;
}

.theme-light .GridConfigEditorScreen .pane-left {
    border-color: var(--faded-text-color-light);
    background-color: var(--main-bg-color-light);
}

.theme-dark .GridConfigEditorScreen .pane-left {
    border-color: var(--faded-text-color-dark);
    background-color: var(--main-bg-color-dark);
}

.theme-light .GridConfigEditorScreen .flex-splitter {
    background-color: var(--main-bg-color-light);
}


.theme-dark .GridConfigEditorScreen .flex-splitter {
    background-color: var(--main-bg-color-dark);
}

.availableViews .flex-row {
    margin: 8px 0;
}

.theme-dark .aralis-screen,
.theme-light .aralis-report-screen,
.theme-light .aralis-sub-screen {
    border: none;
}

.theme-light .GridConfigEditorScreen .available-column-pane,
.theme-light .GridConfigEditorScreen .selected-column-pane {
    background-color: var(--secondary-bg-color-light);
}

.theme-dark .GridConfigEditorScreen .available-column-pane,
.theme-dark .GridConfigEditorScreen .selected-column-pane {
    background-color: var(--secondary-bg-color-dark);
}

.ToolbarConfigEditorScreen .icon-picker {
    padding: 0 8px;
}

.theme-light .ChartingConfigEditorScreen .labeled-input label {
    color: var(--alternate-text-color-light)
}

.theme-dark .ChartingConfigEditorScreen .labeled-input label {
    color: var(--alternate-text-color-dark)
}

.ChartingConfigEditorScreen .labeled-input {
    display: flex;
    flex-direction: row;
    border-radius: 0
}

.theme-light .aralis-screen .ChartingConfigEditorScreen input {
    border-bottom: none
}

.theme-dark .aralis-screen .ChartingConfigEditorScreen input {
    border-bottom: none
}

.theme-light .query-builder .rules-group-container {

    background-color: var(--secondary-bg-color-light)
}

.theme-dark .query-builder .rules-group-container {

    background-color: var(--secondary-bg-color-dark)
}

.theme-light .ConditionalFormatEditorScreen .condition-builder {
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--secondary-bg-color-light);
    padding: 8px 8px;
}

.theme-dark .ConditionalFormatEditorScreen .condition-builder {
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--secondary-bg-color-dark);
    padding: 8px 8px;
}

.theme-light .ConditionalFormatEditorScreen .condition-builder label {

    color: var(--tertiary-text-color-light);

}

.theme-dark .ConditionalFormatEditorScreen .condition-builder label {

    color: var(--tertiary-text-color-dark);

}

.theme-light .query-builder .rules-group-container {
    border: 1px solid var(--faded-text-color-light)
}


.theme-dark .query-builder .rules-group-container {
    border: 1px solid var(--faded-text-color-dark)
}

.theme-light .query-builder .rule-container {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.theme-dark .query-builder .rule-container {
    border: none;
    background-color: rgba(0, 0, 0, .15);
}

.query-builder .form-control {
    height: auto;
}

.form-control,
.theme-light .query-builder .form-control {
    border: 1px solid var(--faded-text-color-light);
    padding: 8px;
    margin: 0 8px;
}

.form-control,
.theme-dark .query-builder .form-control {
    border: 1px solid var(--faded-text-color-dark);
    padding: 8px;
    margin: 0 8px;
}

.ConditionalFormatEditorScreen .condition-builder,
.theme-dark .ConditionalFormatEditorScreen .condition-builder,
.theme-light .ConditionalFormatEditorScreen .condition-builder {
    margin-bottom: 0;
}


/* ********************************* login page  ****************************************** */

div.login-page.aralis-screen {
    background-color: var(--main-bg-color-dark)
}

.form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

    width: 360px;
    padding: 40px;
    position: relative;
    background: var(--secondary-bg-color-dark);
    max-width: 360px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 8px;
}

.login-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 16px 0 16px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form .btn {
    text-transform: uppercase;
    outline: 0;
    background: var(--button-success-color) !important;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin: 15px 0 15px;
}

.login-form .btn:hover {
    background: var(--button-success-hover-color) !important;
}

.login-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

/* ********************************* menu bar  ****************************************** */

.menu {
    background-image: none
}

.menu .menu-item {
    padding: 16px;
}

.aralis-page .menu .menu-item.user i {
    margin-right: 5px;
}

.menu .menu-item.action {
    font-weight: normal;
}

.menu .menu-item.launchpad-toggle::before {
    content: "\2630";
    margin-right: 8px;
}

.theme-light .menu .menu-item:not(:first-child)::before {
    background: var(--tertiary-bg-color-light)
}

.theme-dark .menu .menu-item:not(:first-child)::before {
    background: var(--tertiary-bg-color-dark)
}


.menu .tippy-popper .tippy-tooltip {
    width: 150px;
}

.menu .tippy-popper[x-placement^=bottom] {
    margin-top: -5px;
}

.theme-light .menu {
    background-color: var(--secondary-bg-color-light);

}

.theme-dark .menu {
    background-color: var(--secondary-bg-color-dark);

}

.theme-light .menu a.menu-item,
.theme-light .menu span.menu-item,
.theme-light .menu .menu-item span,
.theme-light .menu .menu-item a {
    color: var(--main-text-color-light)
}

.theme-dark .menu a.menu-item,
.theme-dark .menu span.menu-item,
.theme-dark .menu .menu-item span,
.theme-dark .menu .menu-item a {
    color: var(--main-text-color-dark)
}

.theme-light .menu span.showStats,
.theme-dark .menu span.showStats {
    color: var(--button-success-color);
}

.menu .tippy-popper[x-placement^=bottom] .tippy-arrow {
    border-bottom-color: #FFC107;
}


/* ********************************* launch pad  ****************************************** */

select.themes {

    border: none;
    font-weight: bold;
    margin-left: 8px;
    cursor: pointer;
}

.theme-light select.themes {
    color: var(--secondary-text-color-light);
    background-color: transparent;

}

.theme-dark select.themes {
    color: var(--secondary-text-color-dark);
    background-color: transparent;

}

.launchpad {
    display: inline;
    padding: 24px
}

.launchpad-group {
    padding: 16px !important;
}

.theme-light .launchpad-group {
    background-color: var(--secondary-bg-color-light);
    color: var(--main-text-color-light)
}

.theme-dark .launchpad-group {
    background-color: var(--secondary-bg-color-dark);
    color: var(--main-text-color-dark)
}

.theme-light .launchpad .launchpad-item {
    background-color: transparent;
    color: var(--secondary-text-color-light);
    outline: none;
}

.theme-dark .launchpad .launchpad-item {
    background-color: transparent;
    color: var(--secondary-text-color-dark);
    outline: none;
}


.theme-light .launchpad .launchpad-item:hover {

    color: var(--main-text-color-light);

}

.theme-dark .launchpad .launchpad-item:hover {

    color: var(--main-text-color-dark);

}


.launchpad .launchpad-item .caption {
    padding: 8px;
    color: inherit;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    overflow-wrap: break-word;
    border: none;
}

.form-row-container {
    margin: 8px 0;
    width: 100%
}

.theme-light .limit,
.theme-light .offset {
    border: 1px solid var(--faded-text-color-light) !important;
    margin-right: 16px
}

.theme-dark .limit,
.theme-dark .offset {
    border: 1px solid var(--faded-text-color-dark) !important;
    margin-right: 16px
}

.ruler h4 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1.1
}

.theme-dark .ruler {
    border-color: var(--faded-text-color-dark);
    background-color: var(--secondary-bg-color-dark);
    color: var(--secondary-text-color-dark);
    border: none;
    padding: 8px;

}

.theme-light .ruler {
    border-color: var(--faded-text-color-light);
    background-color: var(--secondary-bg-color-light);
    color: var(--main-text-color-light);
    border: none;
    padding: 8px;
}

.theme-light .fa-caret-up,
.fa-caret-down {
    color: var(--secondary-text-color-light) !important;
    background-color: transparent;
    outline: 0 !important
}

.theme-dark .fa-caret-up,
.theme-dark .fa-caret-down {
    color: var(--secondary-text-color-dark) !important;
    background-color: transparent;
    outline: 0 !important;
}


.theme-light .fa-caret-up:hover,
.theme-light .fa-caret-down:hover {
    color: var(--main-text-color-light) !important;
}

.theme-dark .fa-caret-up:hover,
.theme-dark .fa-caret-down:hover {
    color: var(--main-text-color-dark) !important;
}

.order-row-label {
    margin: 0px 8px 0 8px;
    font-weight: 500;
    min-width: 100px;
    text-align: right;
    padding: 4px;
}

.order-row-label-inner {
    margin: 0px 8px 0 8px;
    font-weight: 500;
    min-width: 100px;
    text-align: right;
    padding: 4px;

}

.theme-light .orderType label {
    font-size: 12px;
    padding: 0 4px;
    margin: 0;
    min-width: 80px;
    color: var(--secondary-text-color-light) !important;
}

.theme-dark .orderType label {
    font-size: 12px;
    padding: 0 4px;
    margin: 0;
    min-width: 80px;
    color: var(--secondary-text-color-dark) !important;
}

.theme-light .orderType label.selected {
    font-size: 12px;
    padding: 0 4px;
    margin: 0;
    color: var(--main-text-color-light) !important;
}

.theme-dark .orderType label.selected {
    font-size: 12px;
    padding: 0 4px;
    margin: 0;
    color: var(--main-text-color-dark) !important;
}

/*
.theme-light .orderType input {
    margin: 0 !important;
    padding: 0 !important
}

.theme-dark .orderType input {
    margin: 0 !important;
    padding: 0 !important
}
 */

.jc-space-between {
    justify-content: space-between;
}

.check-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check-box input {
    margin-right: 8px;
}

.form-totals {
    color: var(--color-amber);
    margin: 0 8px;
}

/* ********************************* Simple ET Order Blotter  ****************************************** */

.row-margin-bottom {
    margin-bottom: var(--default-margin);
}

.bg-buy {
    background-color: var(--color-lightBlue);
    color: #fff !important;
    text-align: center;
}

.bg-sell {
    background-color: var(--color-red);
    color: #fff !important;
    text-align: center;
}


.bg-buysell {
    background-color: var(--color-amber);
    color: #fff !important;
    text-align: center;
}

.side {
    text-align: center;
}

.labeled-input {
    border-bottom: 1px solid;
    margin: 0;
}

.theme-light .labeled-input {
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    border-bottom-color: var(--alternate-text-color-light);


}

.theme-dark .labeled-input {
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    border-bottom-color: var(--alternate-text-color-dark);

}



.theme-light .labeled-input > label {
    background-color: var(--secondary-bg-color-light);
    color: var(--main-text-color-light);
}

.theme-dark .labeled-input > label {
    background-color: var(--secondary-bg-color-dark);
    color: var(--main-text-color-dark);
}


.theme-light .labeled-input > input {
    background-color: var(--main-bg-color-light);
    color: var(--secondary-text-color-light);
}

.theme-dark .labeled-input > input {
    background-color: var(--main-bg-color-dark);
    color: var(--secondary-text-color-dark);

}


.labeled-input > label {
    flex: none;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    border: none;
    white-space: nowrap;
}

.labeled-input > input {
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    white-space: nowrap;
    min-width: 100px;
    font-weight: normal;
}

.labeled-input > select {
    margin: 0;
}
/* ********************************* DG toolbar  ****************************************** */

.dg-toolbar {
    min-height: 36px;
}

.dg-toolbar .btn-group > .btn {

    padding: 16px
}

theme-light .dg-toolbar {
    background-color: var(--secondary-bg-color-light);
}

theme-dark .dg-toolbar {
    background-color: var(--secondary-bg-color-dark);
}

.dg-toolbar-setting .fa {
    font-size: 20px;
    padding: 8px;

}


.theme-light .dg-toolbar .dg-toolbar-setting .off {
    color: var(--tertiary-text-color-light);

}

.theme-light .dg-toolbar .dg-toolbar-setting .on {
    color: var(--main-text-color-light);

}

.theme-dark .dg-toolbar .dg-toolbar-setting .off {
    color: var(--tertiary-text-color-dark);

}

.theme-dark .dg-toolbar .dg-toolbar-setting .on {
    color: var(--main-text-color-dark);

}

.theme-light .dg-toolbar .dg-toolbar-view .on {
    background-color: transparent;
    color: var(--main-text-color-light);
    font-weight: normal;
}

.theme-light .dg-toolbar .dg-toolbar-view .off {
    background-color: transparent;
    color: var(--secondary-text-color-light);
    font-weight: normal;
}

.theme-light .dg-toolbar .dg-toolbar-view .off:hover,
.theme-light .dg-toolbar .dg-toolbar-view .on:hover {
    background-color: var(--tertiary-bg-color-light);

}

.theme-dark .dg-toolbar .dg-toolbar-view .on {
    background-color: transparent;
    color: var(--main-text-color-fade-dark);
    font-weight: normal;
}

.theme-dark .dg-toolbar .dg-toolbar-view .off {
    background-color: transparent;
    color: var(--secondary-text-color-dark);
    font-weight: normal;
}

.theme-dark .dg-toolbar .dg-toolbar-view .off:hover,
.theme-dark .dg-toolbar .dg-toolbar-view .on:hover {
    background-color: var(--tertiary-bg-color-dark);

}


/* ********************************* DG   ****************************************** */
.dg-grid {
    font-size: 11px;
}

.theme-light .dg-grid {
    color: unset;
    background-color: var(--secondary-bg-color-light);
    border: none;
}


.theme-dark .dg-grid {
    background-color: var(--secondary-bg-color-dark);
    border: none;
}

.theme-dark .dg-grid * {
    color: var(--tertiary-text-color-dark);

}

.theme-light .dg-container {
    background-color: var(--secondary-bg-color-light);
}

.theme-dark .dg-container {
    background-color: var(--secondary-bg-color-dark);
}

.theme-light .slick-header-columns {
    background-color: var(--secondary-bg-color-light);
    border-bottom: 1px solid var(--alternate-text-color-light);
}

.theme-dark .slick-header-columns {

    background-color: var(--secondary-bg-color-dark);
    border-bottom: 1px solid var(--alternate-text-color-dark);
}

.theme-light .dg-grid.dg-slickgrid .slick-header-columns {
    background-color: var(--main-bg-color-light);
    background: var(--main-bg-color-light);
    border-bottom-color: var(--alternate-text-color-light);
}

.theme-dark .dg-grid.dg-slickgrid .slick-header-columns {

    background-color: var(--main-bg-color-dark);
    border-bottom-color: var(--alternate-text-color-dark);
}

.theme-light .dg-grid.dg-slickgrid .slick-header-columns .slick-header-column {
    background: var(--main-bg-color-light);

    border: none;
    border-right: 1px solid;
    border-right-color: var(--secondary-bg-color-light);
    text-align: center;
    padding: 8px 0px;
}

.theme-dark .dg-grid.dg-slickgrid .slick-header-columns .slick-header-column {
    background: var(--main-bg-color-dark);
    color: green;
    border: none;
    border-right: 1px solid;
    border-right-color: var(--tertiary-bg-color-dark);
    text-align: center;
    color: red;
    padding: 8px 0px;

}

.theme-light .dg-grid .dg-row.even {
    background-color: var(--secondary-bg-color-light);
    color: var(--secondary-text-color-light);
    border: none;
}

.theme-light .dg-grid .dg-row.odd {
    background-color: var(--tertiary-bg-color-light);

    color: var(--secondary-text-color-light);
    border: none;
}

.theme-dark .dg-grid .dg-row.even {
    background-color: var(--secondary-bg-color-dark);
    color: var(--secondary-text-color-light);
    border: none;
}

.theme-dark .dg-grid .dg-row.odd {
    background-color: var(--tertiary-bg-color-dark);
    color: var(--secondary-text-color-dark);
    border: none;
}

.theme-light .dg-grid.dg-slickgrid .slick-cell {
    color: var(--secondary-text-color-light);
    border: none;
}

.theme-dark .dg-grid.dg-slickgrid .slick-cell {
    color: var(--secondary-text-color-dark);
    border: none;
}


.theme-light .progressbar {
    box-shadow: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, .05)
}

.theme-dark .progressbar {
    box-shadow: none;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, .05)
}


/* ********************************* panel  ****************************************** */
.panel-body {
    padding: 10px
}


.theme-light .panel {
    border: 1px solid red;
    border-color: var(--faded-text-color-light);
    background-color: var(--main-bg-color-light);
}

.theme-dark .panel {
    border: 1px solid;
    border-color: var(--faded-text-color-dark);
    background-color: var(--main-bg-color-dark);
}

.theme-light .panel-primary > .panel-heading {
    background-color: var(--secondary-bg-color-light);
    color: var(--main-text-color-light);
    border: none;
    padding: 16px;
}

.theme-dark .panel-primary > .panel-heading {
    background-color: var(--secondary-bg-color-dark);
    color: var(--main-text-color-dark);
    border: none;
    padding: 16px;
}

.theme-light .panel-footer {
    background-color: var(--secondary-bg-color-fade-light);
    border: none
}

.theme-dark .panel-footer {
    background-color: var(--secondary-bg-color-fade-dark);
    border: none
}

/*.theme-dark input,*/
.panel .theme-dark .aralis-screen label {
    margin: 0px 8px
}

.theme-light .UserSettingScreen input[type="PASSWORD"] {
    border: 1px solid var(--faded-text-color-light);
    margin-right: 16px;
}

.theme-dark .UserSettingScreen input[type="PASSWORD"] {
    border: 1px solid var(--faded-text-color-dark);
    margin-right: 16px
}


/* ********************************* modal  ****************************************** */

.theme-dark .aralis-modal {
    background: rgba(0, 0, 0, 0.4);
}

.theme-light .aralis-modal {
    background: rgba(0, 0, 0, 0.4);
}

.aralis-modal .body .header {

    background-color: var(--secondary-bg-color-light);
    opacity: 1
}

.aralis-modal .body .header .title {

    color: var(--main-text-color-light);
    text-shadow: none;
}

.aralis-modal .body .header button.aralis-close {
    background: none;
    border-color: transparent;
    box-shadow: none;
}

.aralis-modal .body .header button.aralis-close span {
    color: var(--secondary-text-color-light);
    opacity: 1;
    text-shadow: none;

}

.aralis-modal .body .header button.aralis-close span:hover {
    color: var(--main-text-color-light);
    font-weight: bold
}


.btn-group-vertical > .btn {
    min-width: 10px
}

.theme-light .highcharts-background {
    fill: var(--secondary-bg-color-light) !important;

}

.theme-dark .highcharts-background {
    fill: var(--secondary-bg-color-dark) !important;

}

.theme-light .highcharts-axis-labels {
    fill: var(--tertiary-text-color-light);
    stroke: var(--tertiary-text-color-light);
}

.theme-dark .highcharts-axis-labels {
    fill: var(--tertiary-text-color-dark);
    stroke: var(--tertiary-text-color-dark);
}

.highcharts-color-0 {
    fill: var(--color-green);
    stroke: var(--color-green);
}

.highcharts-color-0 {
    fill: var(--color-green);
    stroke: var(--color-green);
}

.highcharts-color-0x880e4f {
    fill: var(--color-lightBlue);
    stroke: var(--color-lightBlue);
}


.theme-light .highcharts-root .highcharts-background {
    fill: var(--secondary-bg-color-light) !important
}

.theme-dark .highcharts-root .highcharts-background {
    fill: var(--secondary-bg-color-dark) !important
}

.highcharts-color-b {
    fill: #0D84E0;
    stroke: green;
}

.highcharts-color-s {
    fill: #F75656;
    stroke: orange;
}


/* ************************************************components*************************************/

.toggle-group button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toggle-group button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-group button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.theme-light .toggle-group button.selected {
    background: var(--color-green);
    color: #fff;
}

.theme-dark .toggle-group button.selected {
    background: var(--color-green);
    color: #fff;
}

.theme-light .toggle-group button:hover {

    color: var(--main-text-color-light)
}

.theme-dark .toggle-group button:hover {

    color: var(--main-text-color-dark)
}

.theme-light .toggle-group button {
    background: transparent;
    padding: 4px 8px;
    border: 1px solid var(--faded-text-color-light);
    color: var(--secondary-text-color-light)
}

.theme-dark .toggle-group button {
    background: transparent;
    padding: 4px 8px;
    border: 1px solid var(--faded-text-color-dark);
    color: var(--secondary-text-color-dark)
}

.radio-group .inner-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: 100%;
    align-self: stretch;
    flex: 1;
    margin-left: -4px;
    margin-right: -5px;
}

.radio-group label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
}

.radio-group label input {
    position: relative;
    margin-right: 4px;
    top: -1px;
}

.radio-group label.selected {
    font-weight: bold;
}

.ruler {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #777;
}

.number-spinner .spinner {
    height: 15px;
    padding: 0 5px;
    border: none;
    line-height: 0;
    background-color: transparent;
    outline: 0;
}

.theme-light .number-spinner .spinner {
    background: var(--secondary-bg-color-light)
}

.theme-dark .number-spinner .spinner {
    background: var(--secondary-bg-color-dark)
}

.number-input {
    margin-right: 0;;
}

label.check-box {
    margin: 0;
    font-weight: normal;
}

.theme-light .lm_header {
    background-color: var(--secondary-bg-color-fade-light)
}

.theme-dark .lm_header {
    background-color: var(--secondary-bg-color-fade-dark)
}

.lm_goldenlayout .lm_header .lm_tab {

    padding: 2px 8px;
}

.generic-key-value-editor-screen .grid {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    grid-auto-flow: row;
    align-content: center;
    grid-gap: 5px 10px;
    align-items: center;
}

.generic-key-value-editor-screen .grid label {
    margin: 0;
    text-align: right;
    background-color: black;
    border-radius: 2px 0 0 2px;
    white-space: nowrap;
    padding: 0 5px;
}

.generic-key-value-editor-screen .grid input,
.generic-key-value-editor-screen .grid select {
    height: 20px;
}

.generic-key-value-editor-screen .grid .section-separator {
    grid-column: 1/ -1;
    height: 15px;
}

.generic-key-value-editor-screen .buttons {
    margin-top: 15px;
    justify-content: space-around;
}

/* ********************************************** other  *************************************************************/


.theme-light .MarketDataSimulatorScreen input[class="percentage"],
.theme-light .MarketDataSimulatorScreen input[class="interval"],
.theme-light .MarketDataSimulatorScreen input[class="count"] {
    border: 1px solid var(--faded-text-color-light);
    margin-right: 16px
}

.theme-dark .MarketDataSimulatorScreen input[class="percentage"],
.theme-dark .MarketDataSimulatorScreen input[class="interval"],
.theme-dark .MarketDataSimulatorScreen input[class="count"] {
    border: 1px solid var(--faded-text-color-dark);
    margin-right: 16px
}

@keyframes downtick {
    from {
        background-color: var(--color-red);
        color: var(--secondary-text-color-light);
    }
}

@keyframes uptick {
    from {
        background-color: var(--color-green);
        color: var(--secondary-text-color-light);
    }
}

.flashdowntick {
    animation: downtick 0.5s steps(10);
}

.flashuptick {
    animation: uptick 0.5s steps(10);
}

/** grid conditional formatting old*/
.dg-cell.col-side {
    text-align: center;
    font-weight: bold;
}

.dg-cell.col-orderStatus {
    text-align: center;
    font-weight: bold;
}

.dg-cell .bg-new {
    color: rgba(0, 188, 212, .6); /*#00BCD4*/

}

.dg-cell .bg-pending-accept {
    color: rgba(0, 188, 212, .6); /*#00BCD4*/

}

.dg-cell .bg-accepted {
    color: var(--color-lightBlue-fade);

}

.theme-light .dg-cell .bg-working {
    color: var(--main-text-color-light);
}

.theme-dark .dg-cell .bg-working {
    color: var(--main-text-color-dark);
}

.dg-cell .bg-partially-filled {
    color: var(--color-amber-fade);

}

.dg-cell .bg-done {
    color: var(--color-lightBlue-fade);

}

.dg-cell .bg-cancelled {
    color: var(--color-red-fade);

}


.UserSettingScreen .card-setting {
    width: 500px;
}

.UserSettingScreen .setting-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    align-items: center;
    grid-auto-flow: row;
}

.UserSettingScreen .card-password {
    width: 500px;
}

.UserSettingScreen .password-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 15px;
    align-items: center;
    grid-auto-flow: row;
}

.TradeEntryScreen .card-setting {
    width: 300px;
}

.TradeEntryScreen .setting-grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 5px;
    align-items: center;
    grid-auto-flow: row;
}
