<div class="KeymapScreen aralis-screen" data-preferred-width="560px" data-preferred-height="auto">
    <table class="keymap">
        <thead>
        <tr>
            <th>Shortcut</th>
            <th>Toolbar Icon</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <kbd class="keystroke">F</kbd>
            </td>

            <td>
                <i class="fa fa-filter"></i>
            </td>
            <td>
                Toggle grid column filter panel
            </td>
        </tr>

        <tr>
            <td>
                <kbd class="keystroke">S</kbd>
            </td>
            <td>
                <span>Σ</span>
            </td>
            <td>
                Toggle grid total summary row
            </td>
        </tr>

        <tr>
            <td>
                <kbd class="keystroke">L</kbd>
            </td>
            <td>
                <i class="fa fa-check-square-o"></i>
            </td>
            <td>
                Toggle grid selection summary row
            </td>
        </tr>

        <tr>
            <td>
                <kbd class="keystroke">R</kbd>
            </td>
            <td>
                <i class="fa fa-list-ol"></i>
            </td>
            <td>
                Toggle grid row number column
            </td>
        </tr>
        <tr>
            <td>
                <kbd class="keystroke">E</kbd>
            </td>
            <td>
                <i class="fa fa-external-link"></i>
            </td>
            <td>
                Download grid data as a csv file
            </td>
        </tr>
        <tr>
            <td>
                <kbd class="keystroke">G</kbd>
            </td>
            <td>
                <i class="fa fa-wrench"></i>
            </td>
            <td>
                Open grid configuration dialog
            </td>
        </tr>

        </tbody>
    </table>
</div>
