<div class="login-page aralis-screen" >
    <div class="form">
        <form class="login-form" style="padding-top: 10px">
            <input type="text" placeholder="Username" id="userName" />
            <input type="password" placeholder="Password" id="password" onKeyDown="if(event.keyCode==13) onSubmitLogin(document.getElementById('userName').value, document.getElementById('password').value);"/>
            <input class="btn" value="login" type="button" style="background-color: #52A64E" onclick="onSubmitLogin(document.getElementById('userName').value, document.getElementById('password').value);"></input>
        </form>
    </div>
</div>